{% extends "base.html.twig" %}

{% block title %}Nos Chambres{% endblock %}

{% block body %}
<div class="container">

{% for chambre in chambres %}
<a class="text-decoration-none" href="{{path('show_chambre', {id: chambre.id})}}">
<div class="d-flex justify-content-around align-items-center">
{% if chambre.id is odd %}
    <div class="flex-shrink-0 w-50">
        <img src="{{ chambre.photo }}" class="w-75" style="max-height:25vh; object-fit:cover;">
    </div>
    <div class="flex-grow-1 ms-3"> 
        <h5>  {{ chambre.titre }}</h5>
        <p>{{chambre.descriptioncourte}}</p>
    </div>
    </div>
    <hr>
    {% else %}

    <div class="flex-shrink-0 w-50">
        <imgsrc="{{ chambre.photo }}" class="m-5 w-75" style="max-height:25vh; object-fit:cover;">
    </div>
    <div class="flex-grow-1 ms-3"> 
      <h5>  {{ chambre.titre }}</h5>
      <p>{{chambre.descriptioncourte}}</p>
    </div>
    </div>
    {# <div class="carousel-inner">
        {% for slider in chambre.sliders %}

        <div clas="carousel-item {% if slider.ordre == 1 %} active {% endif %}">
        <img src="{{ slider.photo}}" class="d-block w-100" alt="">
        </div>

{% endfor %} 
</div>
<button class="caroussel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class=carousel="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExempleFade" data-bs-slide="next">
    <span class=carousel="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>
<div class="row my-3">
    <div class="titre my-2 col-md-12 text-center">
        <h3>{{ chambre.titre }}</h3>
    </div>
    <div class="description col-md-12 text-justify">
        <p>{{ chambre.descriptionlongue }}</p>
    </div>

    <div class="col-md-8 text-center">
        <div class="col-md2 text-end">
            <h5>{{chambre.prixJournalier / 100|number_format(2) }}€/jours</h5>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
    {{ form_start(form) }}                                   
        <hr>
        <div class="col-md-12 mt-3">
            <h3 class="col-md-12 mt-3"> {{ chambre.titre }}</h3>
        </div3>
        <div class="col-md-6">
        {{ form_row(form.date_arrivee) }}
        </div>

        <div class="col-md-6">
        {{ form_row(form.date_depart) }}
        </div>
        <div class="col-md-12 text-justify mb-3">
            <p>Cette chambre vous est proposée au tarif de{{chambre.prixJournalier / 100|number_format(2) }}€/jours</p>
        </div>
        <hr>
        <div class="col-md-12 mt-3">
            <h3>Saisissez vos coordonnées</h3>
        </div>

        <div class="col-md-6">
        {{ form_row(form.prenom) }}
        </div>

        <div class="col-md-6">
        {{ form_row(form.nom)}}
        </div>

        <div class="col-md-6">
        {{ form_row(form.telephone) }}
        </div>

        <div class="col-md-6">
        {{ form_row(form.email) }}
        </div>

        <button type "submit" class="col-md-12 btn btn-success mt-2">
        Commander
        </button>
        {{form_end(form)}}
        </div>
        </div>
        </div>
        {% endif %}            
    


<div class="container my-5">

{% for chambre in chambres %}
    
<a href="{{path('show_chambre', {id: chambre.id})}}">
<div class="d-flex align-items-center justify-content-around">
{% if chambre.id is odd %}
  <div class="flex-shrink-0 w-50">
    <img src="{{ chambre.photo }}" class="w-100" style="max-height:25vh; object-fit:cover;" alt="hugo le boloss">
  </div>
  <div class="flex-grow-1 ms-3">
  <h5>{{chambre.titre}}</h5>
    <p>{{ chambre.descriptioncourte }}</p>
  </div>
</div>
<hr>
{% else %}
  
  <div class="flex-grow-1 me-3 ">
  <h5>{{chambre.titre}}</h5>
    <p>{{ chambre.descriptioncourte }}</p>
  </div>
  <div class="flex-shrink-0 w-50">
    <img src="{{ chambre.photo }}" class="w-100" style="max-height:25vh; object-fit:cover;" alt="">
  </div>#}
</div>
</a> 
<hr>   
{% endif %}
{# {% endfor %} #}
{% endfor %}


{% endblock %}